.profileDivEdit {
  align-items: center;
  background-image: url(../img/BG\ AZUL.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 250px;
  justify-content: center;
  margin-left: 360px;

}

.profileContainerEdit {
  display: flex;
  flex-direction: column;
  margin-top: 550px;
  margin-left: 250px;
}

.profileImageEdit {
  width: 300px;
  height: 300px;
  background-image: url(../img/eu.png);
  background-size: cover;
  filter: drop-shadow(-9px 8px 8px rgba(0, 0, 0, 0.2));
  border-radius: 300px;
  margin-left: -400px;
  margin-top: -600px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.profileNameEdit {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #3D495C;
  margin-bottom: 10px;
  margin-top: 10px;
  border: none;
  border-bottom: 2px solid #4f5664;
}

.profileEmailEdit {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #3D495C;
  margin-bottom: 10px;
  margin-top: 10px;
  border: none;
  border-bottom: 2px solid #4f5664;
}

.profileDescriptionEdit {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #3D495C;
  resize: none;
  margin-bottom: 10px;
  margin-top: 10px;
  border: none;
  border-bottom: 2px solid #4f5664;
}

.buttonEdit {
  position: absolute;
  width: 152px;
  height: 40px;
  background: #003BE5;
  border-radius: 100px;
  top: 800px;
  color: aliceblue;
  font-size: large;
  border: none;
  cursor: pointer;
}


